@import '../../styles/mixins';

.site-list-group {
  svg.inline-action:hover {
    cursor: pointer;
    color: theme-color('primary-light');
    fill: theme-color('primary-light');
    path {
      fill: theme-color('primary-light') !important;
    }
  }
  .card.active {
    .card-header {
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .card-header {
    padding-left: 0.5rem;
  }
  .card-header-title {
    float: left;
    padding-top: 0px;
    position: absolute;
  }
  .card-header-nav {
    position: relative;
  }
  .card-header {
    height: 40px;
    line-height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .list-group-item {
    padding-top: 10px;
  }
}
@include media-breakpoint-up(sm) {
  .site-list-group {
    .scroll-visible {
      display: flex;
    }
    .scroll-invisible {
      display: none;
    }
  }
}
