@import '../../styles/mixins';

.site-list-group {
  .card.active {
    .card-header {
      font-weight: bold;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .card-header {
    padding-left: 0.5rem;
  }
  .card-header-title {
    float: left;
    padding-top: 5px;
    position: absolute;
  }
  .card-header-nav {
    position: relative;
  }
  .card-header {
    height: 56px;
  }
  .list-group-item {
    padding-top: 10px;
  }
  .scroll-visible {
    display: flex;
  }
  .scroll-invisible {
    display: none;
  }
}
