@import '../../styles/mixins';

.fond-site {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.5;
}
.logo-ecopattes {
  right: 2.0px;
  top: 60px;
  width: 200px;
  position: fixed;
}
.home-title {
  margin-top: 100px;
  margin-bottom: 100px;
}
