@import '../../styles/mixins';

.home-home {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  overflow-y: auto;
  height: 100%;
}

.home-home-inner {
  max-width: 1024px;
  margin: 0 auto;
}
.fond-site {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.5;
}
.logo-ecopattes {
  position: relative;
}
.home-title, .home-title2 {
  position: relative;
  font-weight: bold;
  color: theme-color('secondary');
}
