@import '../../styles/mixins';

.home-page .avatar-header{
  vertical-align: initial;
}

.fond-site {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.5;
}

.fond-siteAuth {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.15;
}