@import '../../styles/mixins';

.ui-search-modal {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  .custom-scrollbar {
    overflow-x: hidden !important;
    overflow-y: auto;
  }
  .ui-search-modal-left-top {
    height: 85px;
  }
  .ui-search-modal-left-bottom {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 85px;
    bottom: 0px;
  }
}

.ui-search-modal-left {
  height: 100%;
}
.ui-search-modal-right {
  height: 100%;
}
@media (max-width: 768px) {
  .ui-search-modal-left {
    height: 50%;
  }
  .ui-search-modal-right {
    height: 50%;
  }
}
