@import '../../styles/mixins';

svg.inline-action:hover {
  cursor: pointer;
  color: theme-color('light');
  fill: theme-color('light');
  path {
    fill: theme-color('light') !important;
  }
}

.cause-inline-growths {
  .inline-list {
    .row-title span {
      font-weight: bold;
    }
    .row-line {
      height: 36px;
      line-height: 36px;
    }
    .row-line.row-new {
      height: 50px;
      line-height: 50px;
    }
    .row.row-line:nth-child(even) {
      background: lighten(theme-color('secondary-light'), 5%);
    }
    .row.row-line:nth-child(odd) {
      background: lighten(theme-color('secondary-light'), 10%);
    }
  }
}

