@import '../../styles/mixins';

.cause-movement-pendings {
  .inline-list {
    .row-title span {
      font-weight: bold;
    }
    .row {
      min-height: 30px;
      line-height: 30px;
    }
    .row:nth-child(even) {
      background: lighten(theme-color('secondary-light'), 5%);
    }
    .row:nth-child(odd) {
      background: lighten(theme-color('secondary-light'), 10%);
    }
  }
  .row-new {
    background: theme-color('secondary-light');
  }
}
