@import './mixins';

// Here you put all global css rules.

body {
  margin: 0;
  border: 0 none;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  overflow: hidden;
}

.form-group {
  margin-bottom: 0.5rem;
  label {
    margin-bottom: 0.2rem;
  }
}

.form-group-sm {
  margin-bottom: 0rem;
}

.noselect {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.text-danger svg {
  fill: theme-color('danger');
  path {
    fill: theme-color('danger');
  }
}
.text-warning svg {
  fill: theme-color('warning');
  path {
    fill: theme-color('warning');
  }
}
.text-success svg {
  fill: theme-color('success');
  path {
    fill: theme-color('success');
  }
}
.text-dark svg {
  fill: theme-color('dark');
  path {
    fill: theme-color('dark');
  }
}
.text-light svg {
  fill: theme-color('light');
  path {
    fill: theme-color('light');
  }
}
.text-secondary svg {
  fill: theme-color('secondary');
  path {
    fill: theme-color('secondary');
  }
}
.text-primary svg {
  fill: theme-color('primary');
  path {
    fill: theme-color('primary');
  }
}

svg.text-danger {
  fill: theme-color('danger');
  path {
    fill: theme-color('danger') !important;
  }
}
svg.text-warning {
  fill: theme-color('warning');
  path {
    fill: theme-color('warning') !important;
  }
}
svg.text-success {
  fill: theme-color('success');
  path {
    fill: theme-color('success') !important;
  }
}
svg.text-dark {
  fill: theme-color('dark');
  path {
    fill: theme-color('dark') !important;
  }
}
svg.text-light {
  fill: theme-color('light');
  path {
    fill: theme-color('light') !important;
  }
}
svg.text-secondary {
  fill: theme-color('secondary');
  path {
    fill: theme-color('secondary') !important;
  }
}
svg.text-primary {
  fill: theme-color('primary');
  path {
    fill: theme-color('primary') !important;
  }
}
svg.text-primary.inline-action:hover {
  cursor: pointer;
  color: theme-color('primary-dark');
  fill: theme-color('primary-dark');
  path {
    fill: theme-color('primary-dark') !important;
  }
}
svg.text-secondary.inline-action:hover {
  cursor: pointer;
  color: theme-color('secondary-dark');
  fill: theme-color('secondary-dark');
  path {
    fill: theme-color('secondary-dark') !important;
  }
}
svg.text-warning.inline-action:hover {
  cursor: pointer;
  color: theme-color('warning-dark');
  fill: theme-color('warning-dark');
  path {
    fill: theme-color('warning-dark') !important;
  }
}

.btn-sm {
  &.btn {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
  }
  svg {
    height: 1.2rem !important;
    width: 1.2rem !important;
  }
}

.sidebar-navigation li:hover a {
  color: theme-color('primary-light') !important;
}
.sidebar-navigation li:hover i {
  border: solid theme-color('primary-light') !important;
  border-width: 0 3px 3px 0 !important;
}
.sidebar-navigation li:hover a > svg {
  
  fill: theme-color('primary-light') !important;
  path {
    fill: theme-color('primary-light') !important;
  }
}

.btn-left {
  &.btn {
    padding: 1rem;
  }
  svg {
    height: 1.5rem !important;
    width: 1.5rem !important;
  }
}

.btn-inline {
  &.btn {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
  }
  svg {
    height: 1rem !important;
    width: 1rem !important;
  }
}

.modal-dialog {
  .modal-body {
    min-height: 300px;
    max-height: 500px;
  }
}

.modal-fullscreen {
  width: 90%;
  max-width: 90%;
  margin: 1rem auto;

  .modal-body {
    min-height: 500px;
    max-height: 600px;
  }
}

.nav-item .nav-link:hover {
  cursor: pointer;
}
.nav-item .nav-link.disabled:hover {
  cursor: not-allowed;
}

.btn-group-xs > .btn, .btn-xs {
  padding  : .2rem .3rem;
  font-size  : .8rem;
  line-height  : .4;
  border-radius : .2rem;
}