@import './mixins';

// Here you put all global css rules.

body {
  margin: 0;
  border: 0 none;
  padding: 0;
  font-family: sans-serif;
}

html,
body {
  overflow: hidden;
}

.noselect {
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

svg.text-danger {
  fill: theme-color('danger');
  path {
    fill: theme-color('danger');
  }
}
svg.text-warning {
  fill: theme-color('warning');
  path {
    fill: theme-color('warning');
  }
}
svg.text-success {
  fill: theme-color('success');
  path {
    fill: theme-color('success');
  }
}
svg.text-dark {
  fill: theme-color('dark');
  path {
    fill: theme-color('dark');
  }
}
svg.text-light {
  fill: theme-color('light');
  path {
    fill: theme-color('light');
  }
}
svg.text-secondary {
  fill: theme-color('secondary');
  path {
    fill: theme-color('secondary');
  }
}
svg.text-primary {
  fill: theme-color('primary');
  path {
    fill: theme-color('primary');
  }
}

.text-danger svg {
  fill: theme-color('danger');
  path {
    fill: theme-color('danger');
  }
}
.text-warning svg {
  fill: theme-color('warning');
  path {
    fill: theme-color('warning');
  }
}
.text-success svg {
  fill: theme-color('success');
  path {
    fill: theme-color('success');
  }
}
.text-dark svg {
  fill: theme-color('dark');
  path {
    fill: theme-color('dark');
  }
}
.text-light svg {
  fill: theme-color('light');
  path {
    fill: theme-color('light');
  }
}
.text-secondary svg {
  fill: theme-color('secondary');
  path {
    fill: theme-color('secondary');
  }
}
.text-primary svg {
  fill: theme-color('primary');
  path {
    fill: theme-color('primary');
  }
}