/* BT4 overides */
$theme-colors: (
  "primary": #7ab255,
  "primary-light": lighten(#7ab255, 36%),
  "primary-dark": darken(#7ab255, 20%),
  "secondary": #5a4e4e,
  "secondary-light": lighten(#5a4e4e, 48%),
  "secondary-dark": darken(#5a4e4e, 20%),
  "danger": #ff4136,
  "danger-light": lighten(#ff4136, 30%),
  "danger-dark": darken(#ff4136, 10%),
  "warning": #ef8c1d,
  "warning-light": lighten(#ef8c1d, 40%),
  "warning-dark": darken(#ef8c1d, 10%),
  "light": lighten(#5a4e4e, 60%),
  "success": #7ab255,
  "inactive": lighten(#6c757d,20%),
);
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1600px
);
$container-breakpoints: (
  no: 0,
  xs: 0,
  sm: 768,
  md: 1024,
  lg: 1200,
  xl: 1600
);
$container-max-widths: (
  sm: 640px,
  md: 840px,
  lg: 1140px,
  xl: 1340px
) !default;
$grid-columns:                36;
$grid-gutter-width:           20px;

$modal-xl: 1440px !default;
$modal-lg: 1200px !default;
$modal-md:  800px !default;
$modal-sm:  500px !default;

// Menu gauche
$left-menu-width: 250px;
$left-menu-item-height: 70px;

$mobile-header-height: 40px;
$mobile-footer-height: 50px;

$desktop-header-height : 60px;
$desktop-footer-height : 60px;

// Menu gauche
$header-login-height : 500px;
$header-logged-height: 120px;

$footer-max-height : 120px;
$footer-link-height: 120px;

// Header
$header-background-color: #5a4e4e;
$header-color: #ffffff;

// Footer
$footer-background-color: #5a4e4e;
$footer-color: #ffffff;

$desktop-navbar-height: 60px;
$desktop-listheader-height: 43px;

// Cards
$card-cap-bg: lighten(#5a4e4e, 30%);
$card-cap-color: #ffffff;
$nav-tabs-link-active-color: #7ab255;

// Disabled
$enable-grid-classes: false;