/* BT4 overides */
$theme-colors: (
  "primary": #7ab255,
  "secondary": #5a4e4e,
  "danger": #ff4136,
  "light": lighten(#5a4e4e, 60%)
);
$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xl: 1600px
);
$container-max-widths: (
  sm: 640px,
  md: 840px,
  lg: 1140px,
  xl: 1340px
) !default;
$grid-columns:                36;
$grid-gutter-width:           20px;

// Menu gauche
$left-menu-width: 250px;
$left-menu-item-height: 70px;

// Menu gauche
$header-login-height : 500px;
$header-logged-height: 120px;
$footer-height : 60px;
$footer-max-height : 120px;
$footer-link-height: 120px;

// Header
$header-background-color: #5a4e4e;
$header-color: #ffffff;

// Footer
$footer-background-color: #5a4e4e;
$footer-color: #ffffff;

$desktop-navbar-height: 60px;
$desktop-listheader-height: 43px;

// Cards
$card-cap-bg: lighten(#5a4e4e, 30%);
$card-cap-color: #ffffff;
$nav-tabs-link-active-color: #7ab255;