@import '../../styles/mixins';

.common-desktop-list-title {

}
.col-vertical-align {
  margin-top: auto;
  margin-bottom: auto;
}
.row-list-titles.data-list {
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  background-color: lighten(#5a4e4e, 30%);
  padding-top: 0px;
  padding-bottom: 0px;
}

.row-list-titles {
  left: 0px;
  position: fixed;
  right: 0px;
  top: $desktop-navbar-height +  $desktop-listheader-height;;
  z-index: 700;
  height: $desktop-listheader-height;
}

.common-desktop-list-header-menu.row-list-titles {
  left: $left-menu-width;
}