@import '../../styles/mixins';

.mobile-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: $mobile-footer-height;
  line-height: $mobile-footer-height;
  background-color: $footer-background-color;
  color: $header-color;
  z-index: 800;

  .nav-link {
    padding: 0px;
  }
}
