@import '../../styles/mixins';

.mobile-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: $header-background-color;
  color: $header-color;
  z-index: 900;

  .header-title {
    margin-left: 5px;
    margin-top: 6px;
    font-weight: bold;
    position: absolute;
  }
}
