@import '../../styles/mixins';

.mobile-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: $footer-background-color;
  color: $header-color;
  z-index: 200;
}
