@import '../../styles/mixins';

.common-mobile-menu {
  position: fixed;
  bottom: 60px;
  left: 0px;
  right: 0px;
  background-color: lighten($footer-background-color, 20%) ;

  a {
    color: $footer-color;
  }
}
