@import '../../styles/mixins';

.layout-input-picker {
  .dropdown-menu {
    left: 10px;
    max-height: 200px;
    overflow: auto;
  }
}

.input-picker {
  border-top-left-radius: 0.25rem !important; 
  border-bottom-left-radius: 0.25rem !important;
}

.btn-input-picker {
  padding-top: 0;
  padding-bottom: 0;
}
