@import '../../styles/mixins';

.pin1 {
  position: absolute;
  border-radius: 50% 50% 50% 0;
  border: 6px solid theme-color('secondary');
  width: 24px !important;
  height: 24px !important;
  transform: rotate(-45deg);

  &:hover {
    cursor: pointer;
  }

  .marker-title {
    transform: none;
  }
}
.prin1::after {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -5px;
  left: 10px;
  top: 10px;
  background-color: theme-color('primary');
}

.pin2 {
  position: absolute;
  border-radius: 50%;
  border: 8px solid theme-color('secondary');
  width: 8px;
  height: 8px;
}
.pin2::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid theme-color('secondary');
}
