@import '../../styles/mixins';

.agenda-default-page-header {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 50px;
  background-color: theme-color('secondary');
  color: theme-color('light');
}
.agenda-default-page {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 50px;
  bottom: 0px;

  .rbc-toolbar {
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: theme-color('secondary');
    color: theme-color('light');
  }
}
